@import "tailwindcss";

/* Definindo a paleta de cores "Midnight" do SmartClass */
@theme {
  --color-dark-bg: #0f172a;
  --color-card-bg: #1e293b;
  --color-purple-primary: #8b5cf6;
  --color-purple-hover: #7c3aed;
  --color-text-muted: #94a3b8;
}